
.Main {
  padding: 50px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  flex-shrink: 0;
  width: 195px;
  height: 80px;
  margin-left: -15px;
}

.fa {
  color: black;
}

.social {
  justify-content: flex-end;
  padding: 0 1px;
}

.Nav a {
  font-weight:bold;
  color: black;
  padding: 0px 40px;
  font-size: 17px;
}

.Nav a:active{
  color:black;
  text-decoration: underline;
  font-weight: bold;
}

.space {
  margin-left: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  margin: 80px;
  margin-left: 15%;
  margin-right: 15%;
}

.footer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 100%;
  margin: -100px;

}

.copyright {
  text-align: center;
  font-weight:bold;
  color: black;
  padding: 0px 40px;
  font-size: 17px;
}

.space-footer {
  margin-left: 15px;
}

.contact-form {
  font-weight: bold;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 250px;
}

.form-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.field-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.field input {
  width: 100%;
  height: 48px;
  font-size: 1.2em;
  padding-left: 100px;
  padding-right: 20px;
}

button.submit-button {
  font-size: 1.2em; /* Increase font size */
  padding: 20px 30px; /* Increase button size */
  border: 3px solid black; 
  background-color: white; 
  color: black; /* Set text color to black */
  transition: all 0.2s ease-in-out; /* Enable transition */
}

button.submit-button:hover {
  background-color: black; 
  color: white;
}


.shop-container {
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  /* grid-gap: 20px; */
  margin: 80px;
  margin-left: 15%;
  margin-right: 15%;
}

.shop-title {
  text-align: center;
  font-size: 2rem;
  font-size: 50px;
}

.shop-divider {
  margin-left: 310px;
  width: 70%;
  border: 0.5px solid black;
}


@media (max-width: 700px) {
  .header-title {
    font-size: 50px; /* Reduce font size for smaller screens */
  }
}

